<!DOCTYPE html>
<html>

<head>
    <title>View Reports</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Reports Data</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Item ID</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for report in report_data %}
                <tr>
                    <td>{{ report[0] }}</td>
                    <td>{{ report[1] }}</td>
                    <td>{{ report[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>